@import '../../../styles/theme.scss';

.avrg-speed-settings-wrapper {
    @extend .block;

    width: 98%;
    height: fit-content;
    min-height: 100px;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
}

.avrg-speed-settings-elem {
    display: inline-block;

    .avrg-speed-settings-label {
        display: inline-block;
        margin-right: 28px;
    }

    height: fit-content;
}

.avrg-speed-settings-period {
    @extend .avrg-speed-settings-elem;
}

.avrg-speed-settings-dates {
    @extend .avrg-speed-settings-elem;
}

.avrg-speed-settings-directions {
    @extend .avrg-speed-settings-elem;
}