@import '../../styles/theme.scss';

.avrg-speed {
    width: 100%;
}

.avrg-speed-chart-wrap {
    @extend .block;
    
    position: relative;
    width: 98%;
    height: 400px;
}

.avrg-speed-chart-tittle {
    position: absolute;
    top: 5px;
    left: 20px
}