@import '../../../styles/theme.scss';

.GraphicBuild {
    @extend .block;

    width: 90%;
    height: 10%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}