$page-bg-color: #f3f3f3;
$block-bg-color: #ffffff;

$active-bg-color: #d15050;
$active-bg-color-hover: #ffa2a2;
$active-text-color: #ffffff;

$h1-font: 'Open Sans', sans-serif;
$h1-size: 1.6em;

$text-font: 'Open Sans', sans-serif;
$text-size: 1em;

$text-color-1: #000000;
$text-color-2: #818181;

body {
    background-color: $page-bg-color;
    margin: 0px;
}

.page {
    width: 100vw;
    height: 100vh;
}

.block {
    background-color: $block-bg-color;
    box-shadow: 0px 2px 2px #787878;
    border-radius: 4px;

    margin: 10px;
}

h1 {
    font-family: $h1-font;
    font-size: $h1-size;
    font-weight: 500;
}

.text {
    font-family: $text-font;
    font-size: $text-size;
    font-weight: 400;
}

.text1 {
    @extend .text;
    color: $text-color-1;
}

.text2 {
    @extend .text;
    color: $text-color-2;
}