@import '../../../styles/theme.scss';

.time-select-wrapper {
    display: inline-block;
}

.time-select-field {
    display: inline-block;

    margin: 5px 4px;

    p {
        display: inline-block;
        margin-left: 4px;
    }
}

.time-select-input {
    display: inline-block;
    width: 80px;
}