@import '../../../styles/theme.scss';

.date-interval-wrapper {
    display: inline-block;
}

.date-interval-field {
    display: inline-block;

    margin: 5px 10px;

    p {
        display: inline-block;
        margin-right: 16px;
    }
}

.date-interval-input {
    display: inline-block;
    width: 190px;
}