@import '../../../styles/theme.scss';

.DateInterval {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;

    width: 100%;
    height: fit-content;
}

.DateIntevalField {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;

    margin: 5px 16px;

    p {
        margin-right: 10px;
    }
}

.DateIntevalInput {
    width: 190px;
}